<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Socket.io Chat App</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div id="app" class="row">
            <div class="col-lg-10 offset-1 mt-5">

                <p v-if="ready" v-for="item in info">
                    {{item.name}} {{item.type}}
                </p>

                <div v-if="!ready">
                    <div class="form-group">
                        <label for="username">Enter Username</label>
                        <input id="username" type="text" class="form-control" placeholder="Enter username" v-model="name" @keyup.enter="addName">
                    </div>
                </div>
                <div class="card" v-else>
                    <div class="card-header bg-info">
                        <h5 class="card-title">Node.js Chat room <span class="float-right">{{online}} online</span></h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <small v-if="typing">{{typing}} is typing..</small>
                        <li class="list-group-item" v-for="message in messages">
                            <span :class="{'float-right':message.type === 0}"><small>{{message.user}}: </small>{{message.message}}</span>
                        </li>
                    </ul>
                    <div class="card-body">
                        <div class="form-group">
                            <textarea rows="2" cols="20" class="form-control" placeholder="Type something" v-model="newMessage" @keyup.enter="send"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script>
        var socket = io();
        let app = new Vue({
            el: '#app',
            data: {
                newMessage: null,
                messages: [],
                typing: false,
                name: null,
                ready: false,
                info: [],
                connected: 0,
                online: 0
            },
            watch: {
                newMessage(value) {
                    value ? socket.emit('typing', this.name) : socket.emit('stopTyping');
                },
                connected(value) {
                    this.online = value - 1;
                }
            },
            methods: {
                //for the users who is sending a message
                send() {
                    // type = 0 - who is sending
                    // type = 1 - who is receiving
                    this.messages.push({message: this.newMessage, type: 0, user: 'me'});
                    socket.emit('chat-message', {message: this.newMessage, user: this.name});
                    this.newMessage = null;
                },
                addName() {
                    this.ready = true;
                    socket.emit('joined', this.name);
                }
            },
            created() {
                window.onbeforeunload = () => {
                    socket.emit('leaved', this.name)
                };

                socket.emit('created', 'Evegnii');
                socket.on('created', (data) => {});
                
                socket.on('connections', (connections) => {
                    this.connected = connections;
                });

                //for the users who is receiving a message
                socket.on('chat-message', (data) => {
                    this.messages.push({message: data.message, type: 1, user: data.user});
                });

                socket.on('typing', (name) => {
                    this.typing = name;
                });
                socket.on('stopTyping', () => {
                    this.typing = false;
                });

                socket.on('joined', (data) => {
                    this.info.push({name: data, type: 'joined'});
                    setTimeout(() => {
                        this.info = [];
                    }, 5000);
                });
                socket.on('leaved', (data) => {
                    this.info.push({name: data, type: 'leaved'});
                    setTimeout(() => {
                        this.info = [];
                    }, 5000);
                });
            }
        });
    </script>
</body>
</html>